form{
    border: 1px solid #3366ff;
    float: left;
    padding: 15px;
    background-color: #ccccff;
    font-family:  Comic Sans MS, Comic Sans, cursive;
    font-style: italic;
}
button{
    background-color: #4d88ff;
    padding: 3px;
    border-radius: 10px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 0;
    font-size: 16px;
    font-weight: 700;
}
button:hover{
    box-shadow: 0px 0px 4px #0000ff;
}
input:focus{
    box-shadow: 0px 0px 5px 1px #0000ff;
}