.box-image{
    width: 80px;
    height: 80px;
    background: rgb(32, 33, 33);
    margin-right: 20px;
}


.box-title{
    padding: 10px;
}
.old_comments{
    height: 150px;
    width: 100%;
    border: 1px solid rgba(122, 108, 108, 0.772);
    border-radius: 10px;
    margin-top: 15px;
}
